In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('covid_19_data.csv')
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
12244,12245,04/05/2020,Wyoming,US,2020-04-05 23:13:44,197.0,0.0,0.0
12245,12246,04/05/2020,Xinjiang,Mainland China,2020-04-05 23:13:44,76.0,3.0,73.0
12246,12247,04/05/2020,Yukon,Canada,2020-04-05 23:13:44,6.0,0.0,0.0
12247,12248,04/05/2020,Yunnan,Mainland China,2020-04-05 23:13:44,184.0,2.0,172.0
12248,12249,04/05/2020,Zhejiang,Mainland China,2020-04-05 23:13:44,1263.0,1.0,1230.0

In [3]:
df.isna().sum()

SNo                   0
ObservationDate       0
Province/State     5842
Country/Region        0
Last Update           0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [5]:
df.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [9]:
df['Deaths'][df['ObservationDate'] == '04/05/2020'].sum()

69374.0